.content1 {
    .container {
        display: flex;
        flex-wrap: wrap;
        .item {
            margin: 1%;
            flex: 1 1 23%;
            max-width: 23%;
            height: 375px;
            box-shadow: 0 3px 6px #888;
            /* height: 300px; */
            width: 100%;
            border-radius: 7px 7px 0 0;
            position: relative;
            margin-top: 48px;
            .card_head {
                border-radius: 7px 7px 0 0;
                height: 250px;
                width: 100%;
                background-repeat: no-repeat;
                background-position: top;
                background-size: cover;
                .dress-card-heart {
                    font-size: 1em;
                    color: #db2763;
                    margin: 4.5px;
                    position: absolute;
                    left: 4px;
                    top: 0px;
                }

                .surprise-bubble {
                    display: none;
                    position: absolute;
                    bottom: 3rem;
                    right: 5%;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    background-color: #db2763;
                    padding: 1rem;
                    color: white;
                    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
                    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
                }

                .surprise-bubble a {
                    font-size: 0.65em;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: white;
                    font-family: arial;
                    text-decoration: none;
                    position: absolute;
                    top: 9px;
                    left: 20px;
                    opacity: 0;
                    -webkit-transition-delay: 2s;
                    /* Safari */
                    transition-delay: 2s;
                    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                }

                .surprise-bubble:hover {
                    border-radius: 999rem;
                    padding: 1rem;
                    width: 26%;
                    height: 30px;
                    background: #db2763;
                    color: white;
                    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
                    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
                }

                .surprise-bubble:hover a {
                    opacity: 1;
                    -webkit-transition-delay: 2s;
                    /* Safari */
                    transition-delay: 2s;
                    -webkit-transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
                    transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
                }
            }
            .card_body {
                padding: 6px 5%;
                height: 100px;
                .p_name,
                .p_price {
                    text-transform: capitalize;
                }
                .p_price {
                    margin-top: 6px;
                    .promo_price {
                        font-weight: bold;
                        margin-right: 12px;
                    }
                    .none_price {
                        text-decoration: line-through;
                        color: #db2763;
                    }
                }

                ._btn {
                    display: flex;
                    justify-content: space-around;
                    width: 90%;
                    position: absolute;
                    bottom: 3%;
                    left: 5%;
                    .select_btn {
                        outline: none;
                        border-radius: 3px;
                        border: 0;
                        color: white;
                        padding: 6px 12px;
                        width: 90%;
                    }
                    .select_btn1 {
                        background-color: #20b8be;
                        margin-right: 2.5%;
                    }
                    .select_btn2 {
                        background-color: #f51111;
                        margin-left: 2.5%;
                    }
                }
            }
        }
    }
    @media (max-width: 830px) {
        .container {
            .item {
                flex: 1 1 31%;
                max-width: 31%;
            }
        }
    }
    @media (max-width: 600px) {
        .container {
            .item {
                flex: 1 1 48%;
                max-width: 48%;
                height: 400px;
                .card_head {
                    height: 300px;
                }
            }
        }
    }
    @media (max-width: 430px) {
        .container {
            .item {
                flex: 1 1 100%;
                max-width: 100%;
                height: 500px;
                .card_head {
                    height: 350px;
                }
            }
        }
    }
}
