<div class="nav">

</div>


<div class="checkout_main">
    <h2 class="heading">
        CHECKOUT
    </h2>
</div>

<div class="checkout_body">
    <div class="_row1">
        <div class="block1">
            <div class="forms">
                <div>
                    <h3>Contact information</h3>
                    <input type="email" placeholder="Email" autocomplete="off" required>
                </div>
            </div>
            <div class="forms">
                <div style="margin-right:6px ;">
                    <h3>First Name</h3>
                    <input type="text" placeholder="first name" autocomplete="off" required>
                </div>
                <div style="margin-left:6px ;">
                    <h3>Last Name</h3>
                    <input type="text" placeholder="last name" autocomplete="off" required>
                </div>
            </div>
            <div class="forms">
                <div>
                    <h3>Address</h3>
                    <input type="text" placeholder="address" autocomplete="off" required>
                </div>
            </div>
            <div class="forms">
                <div style="margin-right:6px ;">
                    <h3>City</h3>
                    <input type="text" placeholder="postal code" autocomplete="off" required>
                </div>
                <div style="margin-left:6px ;">
                    <h3>Postal Code</h3>
                    <input type="text" placeholder="last name" autocomplete="off" required>
                </div>
            </div>
            <div class="forms">
                <div>
                    <h3>Contact Number</h3>
                    <input type="text" placeholder="mobile no" autocomplete="off" required>
                </div>
            </div>
            <div class="forms">
                <div>
                    <button>Process Order</button>
                </div>
            </div>
        </div>
    </div>
    <div class="_row2">
        <div class="block1">
            <div class="pending_order" *ngFor="let item of items; index as i;">
                <div class="_row3">
                    <div class="item" [ngStyle]="{'background-image': 'url(' + baseUri + item.product_imageuri +')'}">
                    </div>
                    <button class="remove_btn">remove</button>
                </div>
                <div class="details">
                    <div>
                        <p class="item_name">{{item.product_name}}</p>
                    </div>
                    <div>
                        <p class="item_size">Size</p>
                        <p>{{item.data.item_name}}</p>
                    </div>
                    <div>
                        <p class="item_qty">Quantity</p>
                        <p>{{item.qty}}</p>
                    </div>
                    <div>
                        <p class="item_qty">Sub Total</p>
                        <p>Rs {{item.total_price}}.00</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>