<div class="nav">

</div>


<div class="checkout_main">
    <h2 class="heading">
        CHECKOUT
    </h2>
</div>

<div class="checkout_body">
    <div class="_row1">
        <form [formGroup]="userDataForm" class="block1" (ngSubmit)="checkoutOrder()">
            <div class="forms">
                <div>
                    <label>Contact information</label>
                    <input formControlName="email" type="text" placeholder="Email" autocomplete="off">
                    <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                        <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                        <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.
                        </div>
                    </div>
                </div>
            </div>
            <div class="forms">
                <div style="margin-right:6px ;">
                    <label>First Name</label>
                    <input formControlName="firstName" type="text" placeholder="first name" autocomplete="off">
                    <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="alert alert-danger">
                        <div *ngIf="f['firstName'].errors && f['firstName'].errors['required']">First Name is required.
                        </div>
                        <div *ngIf="f['firstName'].errors && f['firstName'].errors['minlength']">First Name should be 3
                            character.</div>
                    </div>
                </div>
                <div style="margin-left:6px ;">
                    <label>Last Name</label>
                    <input formControlName="lastName" type="text" placeholder="last name" autocomplete="off">
                    <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="alert alert-danger">
                        <div *ngIf="f['lastName'].errors && f['lastName'].errors['required']">Last Name is required.
                        </div>
                        <div *ngIf="f['lastName'].errors && f['lastName'].errors['minlength']">Last Name should be 3
                            character.</div>
                    </div>
                </div>
            </div>
            <div class="forms">
                <div>
                    <label>Address</label>
                    <input formControlName="address" type="text" placeholder="address" autocomplete="off">
                </div>
            </div>
            <div class="forms">
                <div style="margin-right:6px ;">
                    <label>City</label>
                    <input formControlName="city" type="text" placeholder="postal code" autocomplete="off">
                </div>
                <div style="margin-left:6px ;">
                    <label>Postal Code</label>
                    <input formControlName="postalCode" type="text" placeholder="last name" autocomplete="off">
                </div>
            </div>
            <div class="forms">
                <div>
                    <label>Contact Number</label>
                    <input formControlName="mobile" type="text" placeholder="mobile no" autocomplete="off">
                </div>
            </div>
            <div class="forms">
                <div>
                   <!--  <input [class]="userDataForm.invalid?'submit_btn1':'submit_btn'" type="submit" value="Process Order" [disabled]="userDataForm.invalid"> -->
                   <input [class]="userDataForm.invalid?'submit_btn1':'submit_btn'" type="submit" value="Process Order">
                </div>
            </div>
        </form>
    </div>
    <div class="_row2">
        <div class="block1">
            <div class="pending_order" *ngFor="let item of items; index as i;">
                <div class="_row3">
                    <div class="item" [ngStyle]="{'background-image': 'url(' + baseUri + item.product_imageuri +')'}">
                    </div>
                    <button class="remove_btn" (click)="removeItem(item)">remove</button>
                </div>
                <div class="details">
                    <div>
                        <p class="item_name">{{item.product_name}}</p>
                    </div>
                    <div>
                        <p class="item_size">Size</p>
                        <p>{{item.data.item_name}}</p>
                    </div>
                    <div>
                        <p class="item_qty">Quantity</p>
                        <p>{{item.qty}}</p>
                    </div>
                    <div>
                        <p class="item_qty">Sub Total</p>
                        <p>Rs {{item.total_price}}.00</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- {{userDataForm.value | json}} -->

<!-- <form [formGroup]="form" (ngSubmit)="submit()">
        
    <div class="form-group">
        <label for="name">Name</label>
        <input 
            formControlName="name"
            id="name" 
            type="text" 
            class="form-control">
        <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
            <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
            <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Name should be 3 character.</div>
        </div>
    </div>
    
    <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>
</form> -->