<div class="checkout_body">
    <div class="_row1">
        <form [formGroup]="productItem" class="block1">
            <div class="forms">
                <div>
                    <label>Product Name</label>
                    <input formControlName="product_name" type="text" placeholder="Product Name" autocomplete="off">
                </div>
            </div>
            <div class="forms">
                <div>
                    <label>Product Description</label>
                    <input formControlName="product_disc" type="text" placeholder="Product Description"
                        autocomplete="off">
                </div>
            </div>
            <div class="forms">
                <div>
                    <label>Product Price</label>
                    <input formControlName="product_price" type="text" placeholder="Product Price" autocomplete="off">
                </div>
            </div>
            <div class="forms">
                <div>
                    <label>Product Category</label>
                    <input formControlName="product_category" type="text" placeholder="Product Category"
                        autocomplete="off">
                </div>
            </div>
            <div class="forms">
                <div>
                    <input [class]="productItem.invalid?'submit_btn1':'submit_btn'" type="submit" value="Add Items Quantity">
                </div>
            </div>
        </form>
    </div>
    <div class="_row2">
        <img src={{baseUri}}{{imageUri}} alt="" class="">
    </div>
    
</div>
<div>
    add product items and qty
    <div class="block_2">
        <div>
            <label>Extra Small</label>
            <input  type="number" placeholder="XS" autocomplete="off" [(ngModel)]='items.xs'>
        </div>
        <div>
            <label>Small</label>
            <input  type="number" placeholder="S" autocomplete="off" [(ngModel)]='items.s'>
        </div>
        <div>
            <label>Medium</label>
            <input  type="number" placeholder="M" autocomplete="off" [(ngModel)]='items.m'>
        </div>
        <div>
            <label>Large</label>
            <input  type="number" placeholder="L" autocomplete="off" [(ngModel)]='items.l'>
        </div>
        <div>
            <label>Extra Large</label>
            <input  type="number" placeholder="XL" autocomplete="off" [(ngModel)]='items.xl'>
        </div>

        <button type="submit" (click)="addItemQtys()">Add Qty</button>
    </div>
</div>