<div class="close_bar">
    <div class="close_btn" (click)="close()"></div>
</div>
<div class="pending_order" *ngFor="let item of items; index as i;">
    <div class="_row1">
        <div class="item" [ngStyle]="{'background-image': 'url(' + baseUri + item.product_imageuri +')'}">
        </div>
        <button class="remove_btn" (click)="removeItem(item)">remove</button>
    </div>
    <div class="details">
        <div>
            <p class="item_name">{{item.product_name}}</p>
        </div>
        <div>
            <p class="item_size">Size</p>
            <p>{{item.data.item_name}}</p>
        </div>
        <div>
            <p class="item_qty">Quantity</p>
            <p>{{item.qty}}</p>
        </div>
        <div>
            <p class="item_qty">Sub Total</p>
            <p>Rs {{item.total_price}}.00</p>
        </div>

    </div>
</div>

<div class="bottom_bar">
    <div class="last_total">
        <p>Total</p>
        <p>Rs {{getTotal()}}.00</p>
    </div>

    <div *ngIf="!isEmpty" class="ckeckout">
        <button (click)="checkoutCart()">CheckOut</button>
    </div>
</div>