.pending_order {
    display: flex;
    margin-bottom: 24px;
    border-bottom: 1px solid gray;
    ._row1 {
        .item {
            height: 100px;
            width: 80px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .remove_btn {
            margin: 6px 0;
            border-radius: 4px;
            background: red;
            border: none;
            outline: none;
            padding: 3px 6px;
            width: 100%;
        }
    }
    .details {
        padding: 6px 12px;
        width: 100%;
        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            p {
                margin-bottom: 3px;
                text-transform: capitalize;
                font-weight: 500;
            }
        }
        /* .item_name, .item_size{
            text-transform: capitalize;
            font-weight: 500;
        } */
    }
}
.bottom_bar {
    .last_total {
        display: flex;
        width: 100%;
        justify-content: space-between;
        p {
            margin-bottom: 3px;
            text-transform: capitalize;
            font-weight: 500;
        }
    }
    .ckeckout {
        button {
            margin-top: 6px;
            padding: 6px 12px;
            outline: none;
            width: 100%;
            color: white;
            background: black;
        }
    }
}
