<owl-carousel [options]="customOptions" [carouselClasses]="['owl-theme', 'sliding']" #owlElement1>
    <div class="banner ban3" style="background-image: url(assets/img/banner/main.jpg);">
        <div class="shadow">
            <div class="ani">
                <div class="body_animate">
                    <h2>Free Shiping</h2>
                    <h4>On purchases over $199</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="banner ban4" style="background-image: url(assets/img/banner/main1.jpg);">
        <div class="shadow">
            <div class="ani">
                <div class="body_animate">
                    <h2>99% Satisfied Customers</h2>
                    <h4>speak for themselves</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="banner ban1" style="background-image: url(assets/img/banner/main2.jpg);">
        <div class="shadow">
            <div class="ani">
                <div class="body_animate">
                    <h2>Originality Guaranteed</h2>
                    <h4>30 days warranty for each product from our store</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="banner ban2" style="background-image: url(assets/img/banner/main3.jpg);">
        <div class="shadow">
            <div class="ani">
                <div class="body_animate">
                    <h2>Heading 1</h2>
                    <h4>Content</h4>
                </div>
            </div>
        </div>
    </div>
</owl-carousel>

<div class="content1">
    <div class="container1">
        <div *ngFor="let content of content1; index as i;" class="item top" (click)="getAllProducts(content.key)"
            [ngStyle]="{'background-image': 'url(' + '../../../assets/img/home/' + content.imageuri +'.jpg'+')'}">
            <div class="card_body">
                {{content.name}}
            </div>
        </div>
    </div>
</div>

<div class="content2 middle">
    <div class="container">
        <div class="item" *ngFor="let product of products; index as i;">
            <div class="card_head" [ngStyle]="{'background-image': 'url(' + baseUri  + product.product_imageuri +')'}">
                <div class="surprise-bubble"><span class="dress-card-heart">
                        <i class="fas fa-heart"></i>
                    </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="card_body">
                <div class="p_name">
                    {{product.product_name}}
                </div>
                <div *ngIf="product.isPromo" class="p_price">
                    <span class="promo_price">RS: {{product.product_promo_price}}.00</span>
                    <span class="none_price">RS: {{product.product_price}}.00</span>
                </div>
                <div *ngIf="!product.isPromo" class="p_price">
                    <span class="promo_price">RS: {{product.product_price}}.00</span>
                </div>
                <button class="select_btn" (click)="openChild(product)">Select</button>
            </div>
            <div *ngIf="product.isPromo" class="promo_label">
                <p>-{{showPromoPresentage(product)}}%</p>
            </div>
        </div>
    </div>
</div>