<div class="banner" style="background-image: url(assets/img/banner/main.jpg);">
    <div class="shadow">
        <div class="block1">
            <div class="heading">Sale of the <br> summer <br> collection</div>
        </div>
        <div class="block2">
            <div class="hr_bar">
                <div class="block1">
                    <div class="_row delivery">
                        <div class="icon">
                            <img src="assets/img/icons/delivery.png">
                        </div>
                        <div class="content">
                            <div class="main">Free Shiping</div>
                            <p>On purchases over $199</p>
                        </div>
                    </div>
                    <div class="_row guarantee">
                        <div class="icon">
                            <img src="assets/img/icons/guarantee.png">
                        </div>
                        <div class="content">
                            <div class="main">99% Satisfied Customers</div>
                            <p>Our clients' opinions <br> speak for themselves</p>
                        </div>
                    </div>
                    <div class="_row happy">
                        <div class="icon">
                            <img src="assets/img/icons/happy.png">
                        </div>
                        <div class="content">
                            <div class="main">Originality Guaranteed</div>
                            <p>30 days warranty for each <br> product from our store</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content1">
    <div class="container" *ngFor="let product of products; index as i;">
        <div class="item" [ngStyle]="{'background-image': 'url(' + baseUri  + product.product_imageuri +')'}"></div>
    </div>
</div>