<div class="matframe">
    <mat-accordion class="mclass" *ngFor="let record of orderRecords | paginate: { itemsPerPage: limit, currentPage: p, totalItems: total }; index as i;">

        <mat-expansion-panel class="mpanel" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            [expanded]="i==0">
            <mat-expansion-panel-header class="mheader">
                <mat-panel-title class="mtitle">
                    {{convertTime(record.order_date)}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="_body">
                {{record.firstName}}
                <div class="_row">
                    <div class="booktitle" *ngFor="let item of record.orderItems">
                        <div class="block">
                            <div class="item"
                                [ngStyle]="{'background-image': 'url(' + baseUri  + item.product_imageuri +')'}">
                            </div>
                            <div class="order_details">
                                <h4>{{item.product_name}} ( {{item.item_name}} ) </h4>
                                <h4>Id - {{item.item_id}}</h4>
                                <h4>Qty - {{item.qty}}</h4>
                            </div>
                        </div>
                        <!-- <ul class="custom-list">
                            <li>{{b.bname}}</li>
                            <li>{{b.bname1}}</li>
                            <li>{{b.bname2}}</li>

                        </ul> -->
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>

    <!-- <div class="container">
        <h1>Angular Pagination Example - ItSolutionStuff.com</h1>
         
        <table class="table table-bordered">
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
          <tr *ngFor="let user of users| paginate: { itemsPerPage: 6, currentPage: p, totalItems: total }">
              <td>{{ user.id }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
          </tr>
        </table>  
        
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
      </div> -->

      