<!-- <mat-expansion-panel hideToggle *ngFor="let record of orderRecords; index as i;">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{record.order_date}}
        </mat-panel-title>
        <mat-panel-description>
            This is a summary of the content
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
</mat-expansion-panel> -->

<div class="matframe">
    <mat-accordion class="mclass" *ngFor="let record of orderRecords; index as i;">

        <mat-expansion-panel class="mpanel" (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="i === 0">
            <mat-expansion-panel-header class="mheader">
                <mat-panel-title class="mtitle">
                    {{record.order_date}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="_body">
            </div>
        </mat-expansion-panel>
    </mat-accordion>