.matframe {
    max-width: 768px;
    margin: 0 auto;
    .mat-expansion-indicator:after {
        color: white;
    }
    .mclass {
        .mpanel {
            margin-bottom: 20px;
            .mheader {
                background-color: #074368 !important;
                /* border-top-left-radius: 10px !important;
                border-top-right-radius: 10px !important;
                border-bottom-left-radius: 10px !important;
                border-bottom-right-radius: 10px !important; */
                .mtitle {
                    color: white !important;
                }
            }
            .mat-expansion-panel-body {
                margin-top: 20px;
                /* border-top-left-radius: 10px !important;
                border-top-right-radius: 10px !important;
                border-bottom-left-radius: 10px !important;
                border-bottom-right-radius: 10px !important; */
            }
            ._body {
                ._row {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    .booktitle {
                        -ms-flex: 1 1 33.3%;
                        flex: 1 1 33.3%;
                        max-width: 33.3%;
                        margin-bottom: 5%;
                        .block {
                            display: flex;
                            .item {
                                margin-right: 5%;
                                height: 80px;
                                width: 50px;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                            }
                            .order_details {
                                h4 {
                                    color: #074368 !important;
                                    font-weight: 600 !important;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.mat-accordion {
    width: 600px; /* this will be the height of the accordion (inversed due to rotation) */
}

.mat-expansion-panel {
    max-height: 500px; /* this will be the width of the panel (inversed due to rotation) */
}

.panel-content {
    transform-origin: top left;
    transform: rotate(90deg); /* rotate back */
    margin-left: 100%; /* position it */
    height: 600px; /* real height of the content */
    width: 400px; /* real width of the content */
}


