.item {
    margin: 1%;
    flex: 1 1 23%;
    max-width: 23%;
    box-shadow: 0 3px 6px #888;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content1 {
    .container {
        display: flex;
        flex-wrap: wrap;
        .itemz {
            /* .stv-radio-button {
                appearance: none;
                display: none;

                & + label {
                    cursor: pointer;
                    border: 1px solid #28608f;
                    color: #fff;
                    background-color: #428bca;
                    margin: 0 6px;

                    &:first-of-type {
                        border-radius: 0.7em 0 0 0.7em;
                    }

                    &:last-of-type {
                        border-radius: 0 0.7em 0.7em 0;
                    }
                }

                &:checked + label {
                    background-color: #3277b3;
                }
            }
            label {
                width: 50px !important;
                padding: 12px 24px;
            } */
            .button {
                margin: 0 5px 0 0;
                width: 30px;
                height: 15px;
                position: relative;
                label,
                input {
                    display: block;
                }
                input[type="radio"] {
                    opacity: 0.011;
                    z-index: 100;
                }
                input[type="radio"]:checked + label {
                    background: #20b8be;
                    border-radius: 4px;
                }
                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    z-index: 90;
                    line-height: 1.8em;
                    background: #919191;
                    border-radius: 4px;
                }
            }
        }
    }
}
