<!-- <p *ngFor="let it of items; index as i;">
    Today's item: {{it}}
</p> -->

<p>
    Today's item:{{data._id}}
</p>
<div class="item" [ngStyle]="{'background-image': 'url(' + baseUri  + data.product_imageuri +')'}"></div>
<button class="mat-raised-button" (click)="close()">Close</button>

<div class="content1">
    <div class="container">
        <div class="itemz" *ngFor="let item of items; index as i;">
            <div class="button">
                <input type="radio" id="{{item.item_name}}" name="check-substitution-2" />
                <label class="btn btn-default" for="{{item.item_name}}"
                    (click)="selectSize(item)">{{item.item_name}}</label>
            </div>
        </div>
    </div>
    <!-- <div class="input_qty">
        <input type="text" [(ngModel)]="selectQty">
    </div> -->
    <div class="input_qty" *ngIf="isSelect">
        <div class="number d-flex justify-content-center align-items-center">
            <span class="minus d-flex justify-content-center pr-2 pl-2"
                (click)="1 >= selectQty?'':decrementQty()">-</span>
            <input type="text" [(ngModel)]="selectQty" disabled>
            <span class="plus d-flex justify-content-center pr-2 pl-2"
                (click)="selectQty >= maxLength? '': incrementQty()">+</span>
        </div>
    </div>
</div>

<div class="add_qty">
    <button (click)="addToCart(selectQty)">Add to cart</button>
</div>