<!-- Header Section -->
<header class="header" id="header">
   <nav class="navbar container">
      <a href="./index.html" class="brand">Brand</a>
      <div class="burger" id="burger">
         <span class="burger-line"></span>
         <span class="burger-line"></span>
         <span class="burger-line"></span>
      </div>
      <div class="menu" id="menu">
         <ul class="menu-inner">
            <li class="menu-item"><a href="#" class="menu-link">Men</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Women</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Kids</a></li>
         </ul>
      </div>
      <div class="icons">
         <div>
            <img src="assets/img/icons/search.png" alt="" class="search_icon">
         </div>
         <div>
            <img src="assets/img/icons/cart.png" alt="" class="cart_icon">
            <div class="qty_notificatn">1</div>
         </div>
      </div>
   </nav>
</header>