<!-- Header Section -->
<header class="header" id="header">
   <nav *ngIf="isShow" class="navbar container">
      <a href="./index.html" class="brand"><img src="../../../assets/img/logo.jpg" alt=""></a>
      <div class="burger" id="burger">
         <span class="burger-line"></span>
         <span class="burger-line"></span>
         <span class="burger-line"></span>
      </div>
      <div class="menu" id="menu">
         <ul class="menu-inner">
            <li class="menu-item"><a href="#" class="menu-link">Men</a></li>
            <li class="menu-item"><a href="#" class="menu-link" routerLink="/add_product">Women</a></li>
            <li class="menu-item"><a href="#" class="menu-link" routerLink="/view_order" >Kids</a></li>
         </ul>
      </div>
      <div class="icons">
         <div>
            <img src="assets/img/icons/search.png" alt="" class="search_icon">
         </div>
         <div (click)="getItemQty() ? openSideBar(): '' ">
            <img src="assets/img/icons/cart.png" alt="" class="cart_icon">
            <div *ngIf="getItemQty() > 0" class="qty_notificatn">{{getItemQty()}}</div>
         </div>
      </div>
   </nav>
</header>

