<div class="_popup">
    <div class="item" [ngStyle]="{'background-image': 'url(' + baseUri  + data.product_imageuri +')'}">.
    </div>
    <div class="row_2">
        <div class="close_bar">
            <div class="close_btn" (click)="close()"></div>
        </div>
        <form [formGroup]="productItem" class="block1" (ngSubmit)="saveNews()">
            <div class="forms">
                <div>
                    <label>Product Name</label>
                    <input formControlName="product_name" type="text" placeholder="Product Name" autocomplete="off">
                </div>
                <div *ngIf="f['product_name'].touched && f['product_name'].invalid" class="alert alert-danger">
                    <div *ngIf="f['product_name'].errors && f['product_name'].errors['required']">Product Name is
                        required.</div>
                    <div *ngIf="f['product_name'].errors && f['product_name'].errors['product_name']">Please enter
                        Product Name.
                    </div>
                </div>
            </div>
            <div class="forms">
                <div>
                    <label>Product Description</label>
                    <input formControlName="product_disc" type="text" placeholder="Product Description"
                        autocomplete="off">
                </div>
                <div *ngIf="f['product_disc'].touched && f['product_disc'].invalid" class="alert alert-danger">
                    <div *ngIf="f['product_disc'].errors && f['product_disc'].errors['required']">Product
                        Description is required.</div>
                    <div *ngIf="f['product_disc'].errors && f['product_disc'].errors['product_disc']">Please enter
                        Product Description.
                    </div>
                </div>
            </div>
            <div class="forms">
                <div>
                    <label>Product Price</label>
                    <input formControlName="product_price" type="text" placeholder="Product Price" autocomplete="off">
                </div>
                <div *ngIf="f['product_price'].touched && f['product_price'].invalid" class="alert alert-danger">
                    <div *ngIf="f['product_price'].errors && f['product_price'].errors['required']">Product Price is
                        required.</div>
                    <div *ngIf="f['product_price'].errors && f['product_price'].errors['product_price']">Please
                        enter Product Price.
                    </div>
                </div>
            </div>
            <div class="forms">
                <div>
                    <label>Product Category</label>
                    <input formControlName="product_category" type="text" placeholder="Product Category"
                        autocomplete="off">
                </div>
                <div *ngIf="f['product_category'].touched && f['product_category'].invalid" class="alert alert-danger">
                    <div *ngIf="f['product_category'].errors && f['product_category'].errors['required']">Product
                        Category is
                        required.</div>
                    <div *ngIf="f['product_category'].errors && f['product_category'].errors['product_category']">
                        Please
                        enter Product Category.
                    </div>
                </div>
            </div>
            <div>
                <div style="margin: 12px 6px">
                    <input type="file" (change)="onFileSelected($event)" />
                </div>
            </div>
            <div class="forms">
                <div>
                    <label>Product Promotion</label>
                    <input formControlName="isPromo" type="checkbox">
                </div>
            </div>
            <div class="forms" *ngIf="productItem.value['isPromo']">
                <div>
                    <label>Product Price</label>
                    <input formControlName="product_promo_price" type="text" placeholder="Promotion Price" autocomplete="off">
                </div>
                <div *ngIf="f['product_promo_price'].touched && f['product_promo_price'].invalid" class="alert alert-danger">
                    <div *ngIf="f['product_promo_price'].errors && f['product_promo_price'].errors['required']">Promotion Price is
                        required.</div>
                    <div *ngIf="f['product_promo_price'].errors && f['product_promo_price'].errors['product_promo_price']">Please
                        enter Promotion Price.
                    </div>
                </div>
            </div>
            
            <div class="forms">
                <div>
                    <!--  <input [class]="userDataForm.invalid?'submit_btn1':'submit_btn'" type="submit" value="Process Order" [disabled]="userDataForm.invalid"> -->
                    <input [class]="productItem.invalid?'submit_btn1':'submit_btn'" type="submit"
                        value="Update Product">
                </div>
            </div>
        </form>
    </div>
</div>